
<!--{% extends "base.html" %}-->

<!--{% block title %} Home {% endblock title %}-->

<!--{% block page_title %}-->
<!--    <i class="fa-solid fa-hand fa-shake text-gray-800 pr-4"-->
<!--    style="&#45;&#45;fa-animation-duration: 5s; &#45;&#45;fa-animation-iteration-count: 5; &#45;&#45;fa-animation-timing: ease-in-out"></i>-->
<!--{% endblock %}-->

<style>
    .video {
        float: left;
        width: 60%;
    }

    .text-output {
        float: right;
        width: 35%;
        height: 80%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .button{
        float: right;
        width: 10%;
        height: 80%;
    }
</style>

<div style="padding-left:50; padding-right:50; padding-top:10;">

    <div class="row">
        <h2 style="text-align: left; float:left; width:50%;">
            Welcome to Video Player - Home Page</h2>
        <div style="width:50%;">
            <button style="button">1</button>
            <button style="button">2</button>
            <button style="button">3</button>
        </div>
    </div>

    <div class="row">
        <video class="video" width="800" controls>
             <source src="http://localhost:8000/video_file_response/{demo}" type="video/mp4">
        </video>
        <textarea class="text-output">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </textarea>
    </div>

</div>
